<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-products></app-products> -->

<app-header></app-header>
<!-- <ul>
    <li>
        <a routerLink="/login">Login</a>
    </li>
    <li>
        <a routerLink="/registration">Registration</a>
    </li>
    <li>
        <a routerLink="/products">Products</a>
    </li>
    <li>
        <a routerLink="" (click)="logout()">Log Out</a>
    </li>
</ul> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-cart></app-cart> -->

<!-- <app-check-out></app-check-out> -->